@import "tailwindcss";

/* @theme inline {
  --color-background: var(--background-color);
  --color-foreground: var(--foreground-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@theme inline {
  --color-background: var(--background-color);
  --color-foreground: var(--foreground-color);
  --primary: var(--primary-color);
  --secondary: var(--secondary-color);
  --lightGreen: "#74C69D";
  --beige: "#F0E5CF";
  --accent: "#E76F51";
  --darkText: "#2B2D42";
  --lightBg: "#FAFAFA";
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-grace: var(--font-covered-by-your-grace);
  --font-signika: var(--font-signika);
}

:root {
  --primary-color: #2d6a4f;
  --secondary-color: #ff5722;
  --accent-color: #ffc107;
  --background-color: #f4f7fc;
  --foreground-color: #171717;
  --text-color: #212121;
  --neutral-color: #9e9e9e;
  --primary: #4baf47;
  --lightGreen: #74c69d;
  --beige: #f0e5cf;
  --accent: #e76f51;
  --darkText: #2b2d42;
  --lightBg: #fafafa;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}
/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.grace-font {
  font-family: "Covered By Your Grace", cursive;
}

.font-signika {
  font-family: "Signika";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #171717;
    --foreground-color: #f4f7fc;
  }
}
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

.button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.button:hover {
  background-color: var(--secondary-color);
}

.header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
}

footer {
  /* background-color: var(--neutral-color); */
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Stroke text (outlined letters) */
.stroke-text {
  color: transparent;
  -webkit-text-stroke: 1px #7bb66d; /* Green stroke */
  text-stroke: 1px #7bb66d; /* For Firefox (experimental) */
}

/* Optional: hover to fill stroke with green */
.stroke-text:hover {
  color: #7bb66d;
}

/* Marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
